.styles-partials-navbar{
    position: relative;
    z-index: 9999;
    .img-logo{
        width:40px;
        display: inline-block;
    }

    a.navbar-brand{
        padding: 5px;
        div.brand {
            display: inline-block;
            margin-left:10px;
            font-size: 16px;
            font-weight:bold;
        }
    }

    ul.nav.navbar-nav{
        > li{
            font-size: 13px;
            text-transform: uppercase;
        }
        ul.dropdown-menu li.li-toggle{
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}
