div.styles-partials-navbar(ng-controller='NavbarController as ctrl' ng-init='ctrl.init()')
	.navbar.navbar-default(role='navigation' style='margin-bottom:0px')
		//-- A bootstrap row div must be wrapped inside a container that has at least 15px left and right padding
		//-- otherwise it will overflow the container. In this case, overflowing the navbar container will cause a
		//-- body overflow, which will make the horizontal scrollbar to appear.
		//-- The solution to this problem is: either padding the row (class 'unrow') or set overflow-y of body to hidden.
		//-- This project implements the former solution.
		div.unrow
			div.row
				div.col-xs-12.col-sm-4.col-lg-3
					.navbar-header
						button.navbar-toggle(id='btnNavbarToggle' type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/#/').flex
							img.img-logo.vf-center(src='/images/logo.png')
							div.brand.vf-center &nbsp;#{appTitle}
				div.col-xs-12.col-sm-8.col-lg-9
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right(ng-cloak)
							li.li-toggle(ng-show='global.user' ng-class='{active: global.utils.isPath("user")}')
								a(href='/#/user/index')
									span #{__('user_info')}

							li(ng-show='global.user')
								a(href='' ng-click='ctrl.logout()')
									span #{__('logout_')} &nbsp;
									i.fas.fa-sign-out-alt

							li(ng-show='!global.user')
								a(href='' ng-click='ctrl.login()')
									i.fa.fa-sign-in-alt
									span &nbsp; #{__('login_')}

							li()
								a.dropdown-toggle(href='', data-toggle='dropdown')
									img.img-language(ng-src='/images/flags_icon/{{global.app.locale}}.png')
									span
										span &nbsp;
										i.fas.fa-caret-down
								ul.dropdown-menu
									li
										a(href='' ng-class='{active: global.app.locale === "en"}' ng-click='ctrl.changeLanguage("en")')
											img.img-language( src='/images/flags_icon/en.png' )
											span #{__('english_')}
									li
										a(href='' ng-class='{active: global.app.locale === "vi"}' ng-click='ctrl.changeLanguage("vi")')
											img.img-language( src='/images/flags_icon/vi.png' )
											span #{__('vietnamese_')}
									li
										a(href='' ng-class='{active: global.app.locale === "ja"}' ng-click='ctrl.changeLanguage("ja")')
											img.img-language( src='/images/flags_icon/ja.png' )
											span #{__('japanese_')}

						ul.nav.navbar-nav(ng-cloak)
							li.li-toggle(ng-class='{active: global.utils.isPath("page1")}')
								a(href='#/page1') #{__('page1_')}
							li.li-toggle(ng-class='{active: global.utils.isPath("page2")}')
								a(href='#/page2') #{__('page2_')}

							li(ng-class='{active: global.utils.isPath("more")}')
								a.dropdown-toggle(href='', data-toggle='dropdown')
									span #{__('more_')}
									span
										span &nbsp;
										i.fas.fa-caret-down
								ul.dropdown-menu
									li.li-toggle(ng-class='{active: global.utils.isPath("more/page1")}')
										a(href='#/more/page1') #{__('more_page1')}
									li.li-toggle(ng-class='{active: global.utils.isPath("more/page2")}')
										a(href='#/more/page2') #{__('more_page2')}
