div.styles-index
    div.header.flex.flex-center
        div.vf-center
            div.header1
                span #{__('HEADER1_')}
            div.header2
                span #{__('HEADER2_')}
            div.header3
                div.text-center
                    a.btn.btn-lg.btn-success.margin-right-15px.margin-bottom-15px(href='/signup' ng-hide='global.user')
                        i.fa.fa-user
                        span &nbsp; #{__('REGISTER_NOW')}

    div.properties
        div.container.text-center
            div.row
                div.col-xs-12.col-sm-3
                    div
                        .fa-icon
                            i.fa.fa-link
                    div
                        .block-content
                            .block-header
                                span #{__('feature1_')}
                            .block-description
                                span #{__('feature1_desc')}
                div.col-xs-12.col-sm-3
                    div
                        .fa-icon
                            i.fab.fa-bitcoin
                    div
                        .block-content
                            .block-header
                                span #{__('feature2_')}
                            .block-description
                                span #{__('feature2_desc')}
                div.col-xs-12.col-sm-3
                    div
                        .fa-icon
                            i.fas.fa-tint
                    div
                        .block-content
                            .block-header
                                span #{__('feature3_')}
                            .block-description
                                span #{__('feature3_desc')}
                div.col-xs-12.col-sm-3
                    div
                        .fa-icon
                            i.fas.fa-bolt
                    div
                        .block-content
                            .block-header
                                span #{__('feature4_')}
                            .block-description
                                span #{__('feature4_desc')}

    div.footer
        div.container
            div.row
                .col-xs-12.col-sm-4
                    .content-block
                        .content-header
                            span #{__('contact_us')}
                        .content
                            div
                                i.fab.fa-slack
                                span &nbsp #{__('contact_slack')}
                            div
                                i.fas.fa-at
                                span &nbsp #{__('contact_email')}
                            div
                                i.fab.fa-twitter
                                span &nbsp #{__('contact_twitter')}
                            div
                                i.fab.fa-facebook-square
                                span &nbsp #{__('contact_facebook')}
                .col-xs-12.col-sm-4
                    .content-block
                        .content-header
                            span #{__('resources_')}
                        .content
                            div
                                i.fas.fa-file-alt
                                span &nbsp; #{__('term_and_conditions')}
                .col-xs-12.col-sm-4
                    .content-block
                        .content-header
                            span #{__('how_to')}
                        .content
                            div
                                i.fas.fa-question-circle
                                span &nbsp; #{__('FAQ_')}
    div.text-center.copyright
        span #{__('copyright_claim')}
