//-- this view extends root view (app.pug) and redefines block 'content'
//-- each view must have a corresponding scss style and js controller with it.

extends ./app

block content
	//-- the main div must be styled within this syntax: .styles-<file path and file name separated by '-' >
	//-- the main div must have ng-controller attribute, pointing to the corresponding controller in js file.
	div.styles-login.text-center(ng-controller='LoginController as ctrl')
		//-- If the view has form-liked content, it should be wrapped by a 'fieldset'.
		//-- This fieldset has 'ng-disabled' attribute to disable all input elements in case of ajax processing or loading.
		//-- This will increase UX and prevent any unwanted inputs & actions while doing the async task.
		fieldset(ng-disabled='ctrl.signingIn')
			div.panel.panel-default.login-panel
				div.panel-heading
					div #{__('login_dialog_header')}
				div.panel-body
					div.row
						div.col-xs-12.col-sm-6
							div.form-group.text-left
								label #{__('email_')}
								input.form-control(ng-model='ctrl.email')
							div.form-group.text-left
								label #{__('password_')}
								input.form-control(ng-model='ctrl.password' type='password')
						div.col-xs-12.col-sm-6
							label.text-left #{__('using_google_account')}
							div.margin-top-15px
								div.g-signin2(ng-class='{disabled: ctrl.signingIn}' data-onsuccess="onSignIn")
				div.panel-footer
					div.text-right
						button.btn.btn-primary(ng-disabled='!ctrl.email || !ctrl.password' ng-click='ctrl.login({type: "password", loginData: {email: ctrl.email, password: ctrl.password}})')
							span(ng-show='ctrl.signingIn')
								i.fas.fa-spinner.fa-spin
							span(ng-hide='ctrl.signingIn')
								i.fas.fa-sign-in-alt
							span &nbsp; #{__('login_')}

			div.text-center.register
				a(href='{{ctrl.registerAccount()}}') #{__('no_account_register')}
