extends ../template/confirmation.template.pug
block append style
	style.
		.verifyButton {
			display: inline-block;
			color: white;
			background: gold;
			padding: 10px 30px;
			font-size: 26px;
			font-family: monospace;
			margin: 15px 0px;
			text-align: center;
			border-radius: 2px;
		}

block header-right
	span Email verification

block body
	div Dear user,
	br
	div Thank you for using SSC Exchange Platform
	div Please click on the button below to verify your email address.
	div.text-center
		a.verifyButton(href=''+link) Verify Email Address
